body{
    width: 500px;
    margin: auto;
}
.logo{
    display: flex;
}
img{
    width: 70px;
}
.arrow{
    margin-right: 60px;
    color: rgb(92, 175, 253);
}
.brac{
    float: right;
    margin-left: 270px;
    margin-top: 10px;
}
.one{
    display: flex;
    flex-direction: row;
    text-align: center;
}
hr{
    height: 1.5px;
    background-color: grey;
    border-radius: 10px;
    text-align: center;
    margin: 0rem 0.5rem 0rem 0.5rem;
}
.name{
    margin-left: 5px;
}
.price{
    border-color: rgb(92, 175, 253);
    /*width: 10px;*/
    margin-left: 10px;
}
.telp,.num{
    border-color: rgb(92, 175, 253);
    /*width: 10px;*/
    margin-left: 5px;
}
/*.p_num{
    border-color: rgb(66, 107, 243);
    width: 80px;
}*/
.opt{
    display: flex;
}
.opt a{
    width: 10px;
	padding: 0.5em 3em;
	color:white;
	background-color: rgb(92, 175, 253);
	text-decoration: none;
    text-transform: uppercase;
}
.first{
    border-radius: 5px;
}
.second{
    border-radius: 5px;
}
.paysection{
    align-items: center;
}