body{
    width: 500px;
    margin: auto;
}
.logo{
    display: flex;
}
img{
    width: 70px;
}
.arrow{
    margin-right: 60px;
}
.brac{
    float: right;
    margin-left: 300px;
}
.one{
    display: flex;
    margin-left: 25px;
    text-align: center;
}
.budu{
    border-radius: 50px;
    vertical-align: middle;
    margin-left: 5px;
}
hr{
    height: 1.5px;
    background-color: grey;
    border-radius: 10px;
    text-align: center;
}
.name{
    margin-left: 20px;
}
.price{
    border-color: rgb(70, 204, 228);
    width: 80px;
    margin-left: 150px;
}
.send{
    width:80px;
    border-radius: 10px;
    background-color: rgb(70, 204, 228);
}